http:
  routers:
    blockscout-http:
      rule: "Host(`{{explorer_domain}}`)"
      service: blockscout
      entryPoints:
        - web
      middlewares:
        - main-auth
    blockscout-https:
      rule: "Host(`{{explorer_domain}}`)"
      service: blockscout
      entryPoints:
        - websecure
      middlewares:
        - main-auth
      tls:
        certResolver: main-resolver
  services:
    blockscout:
      loadbalancer:
        servers:
          - url: "http://blockscout:{{blockscout_port}}/"
