export FAUCET_NAME='{{chain_name}}'
#Chain Name
export FAUCET_AMOUNT={{faucet_amount}}
export FAUCET_INTERVAL={{faucet_interval}}

export WEB3_PROVIDER='{{l2_rpc_url}}'
export PRIVATE_KEY='{{faucet_private_key}}'