http:
  routers:
    faucet-http:
      rule: "Host(`{{faucet_domain}}`)"
      service: faucet
      entryPoints:
        - web
      middlewares:
        - main-auth
    faucet-https:
      rule: "Host(`{{faucet_domain}}`)"
      service: faucet
      entryPoints:
        - websecure
      middlewares:
        - main-auth
      tls:
        certResolver: main-resolver
  services:
    faucet:
      loadbalancer:
        servers:
          - url: "http://evm_faucet:{{faucet_port}}/"
