L1_RPC_URL_1 = {{ l1_rpc_url }}
L1_RPC_URL_2 = {{ l1_rpc_url }}
L1_RPC_URL_3 = {{ l1_rpc_url }}
L1_CHAIN_NAME = {{ l1_chain_name }}
L1_CHAIN_ID = {{ l1_chain_id }}

L1_PORTAL_ADDRESS = {{ optimism_portal_proxy }}
#L1_PORTAL_ADDRESS = {{l1_portal_address}}
L1_PORTAL_BLOCK_CREATED = {{ l1_portal_block_created }}


L2_RPC_URL_1 = {{ l2_rpc_url }}
L2_RPC_URL_2 = {{ l2_rpc_url }}
L2_RPC_URL_3 = {{ l2_rpc_url }}
L2_CHAIN_NAME = {{ chain_name }}
L2_CHAIN_ID = {{ l2_chain_id }}

L2_STANDARD_BRIDGE_ADDRESS = 0x4200000000000000000000000000000000000010
L2_STANDARD_BRIDGE_BLOCK_CREATED = 0

PORT = 3000

# database
POSTGRES_USER={{ bridge_indexer_postgres_db_user }}
POSTGRES_PASSWORD={{ bridge_indexer_postgres_password }}
POSTGRES_DB={{ bridge_indexer_postgres_db }}
APP_DB_USER={{ bridge_indexer_app_db_user }}
APP_DB_PASSWORD={{ bridge_indexer_app_db_password }}

# optional for development
DATABASE_URL = postgresql://appuser2:apppassword2@localhost:5432/mydatabase