http:
  routers:
{% if bridge_indexer_domain != "" %}
    bridge-indexer-http:
      rule: "Host(`{{bridge_indexer_domain}}`)"
      service: bridge-indexer
      entryPoints:
        - web
      middlewares:
        - main-auth
    bridge-indexer-https:
      rule: "Host(`{{bridge_indexer_domain}}`)"
      service: bridge
      entryPoints:
        - websecure
      middlewares:
        - main-auth
      tls:
        certResolver: main-resolver
{% endif %}
{% if bridge_ui_domain != "" %}
    bridge-ui-http:
      rule: "Host(`{{bridge_ui_domain}}`)"
      service: bridge-ui
      entryPoints:
        - web
      middlewares:
        - main-auth
    bridge-ui-https:
      rule: "Host(`{{bridge_ui_domain}}`)"
      service: bridge-ui
      entryPoints:
        - websecure
      middlewares:
        - main-auth
      tls:
        certResolver: main-resolver
{% endif %}
  services:
{% if bridge_indexer_domain != "" %}
    bridge-indexer:
      loadbalancer:
        servers:
          - url: "http://opstack-bridge-indexer:4241/"
{% endif %}
{% if bridge_ui_domain != "" %}
    bridge-ui:
      loadbalancer:
        servers:
          - url: "http://opstack-bridge-indexer:4242/"
{% endif %}
